* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ADD8E6;
    font-family: serif;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}


.box {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
}


.box-1 {
    height: 100px;
    background-color: #2E003E;
}


.box-2 {
    height: 220px;
    background-color: #3D0053;
}


.box-3 {
    height: 100px;
    background-color: #4B006E;
}


.box-4 {
    height: 300px;
    background-color: #311432;
}



.box-5 {
    height: 450px;
    background-color: #4B0082;
}


.box-6 {
    height: 120px;
    background-color: #5D0096;
}


.box-7 {
    height: 130px;
    background-color: #2a0e36;
}



.box-8 {
    height: 400px;
    background-color: #6A0DAD;
}


.box-9 {
    height: 180px;
    background-color: #4a148c;
}


.box-10 {
    height: 140px;
    background-color: #7b1fa2;
}